.account-info .balance-account{
    display: flex;
    align-content: center;
    width: 100%;
    font-size: 18px;

    b {
        margin-right: 10px;
    }
}

.account-info {
    margin-bottom: 10px;
}
